@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>格格嫁到婚嫁体验中心</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1.3,width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telphone=no, email=no">
    <meta name="keywords" content="一站式婚嫁体验中心,结婚分期,婚宴分期">
    <meta name="description" content="格格嫁到智能婚嫁服务平台是腾讯大成网婚嫁频道的独家战略合作商，提供一站式的婚宴、喜宴预定服务。其在深度整合四川腾讯4200万QQ用户、逾300家婚宴酒店商家的基础上，为用户提供婚宴酒店在线咨询、在线预订、线下免费看场、线 下免费分享结婚攻略、新娘课堂等服务。">
    <link rel="stylesheet" href="@Url.Content("~/Content/Style/signin_m.css")" type="text/css" media="screen">

    @RenderSection("Head", false)
</head>
<body>
    <div class="section">
        <div class="signin-tit">
            <img src="@Url.Content("~/Content/images/signin_wap/bm-head.png")">
        </div>

        @RenderBody()
    </div>

    @RenderSection("Foot", false)
</body>
</html>